<div class="row">

  <div class="col-md-2 col-xxl-1">
    <form [formGroup]="charactersPerPageForm!">
      <select formControlName="characterShowCount" id="showCount" class="form-select mt-4 w-100">
        <option value="1">1</option>
        <option value="12">12</option>
        <option value="24">24</option>
        <option value="36">36</option>
        <option value="99">all</option>
      </select>
      <label for="showCount">show count</label>
    </form>
  </div>

  <div class="col-md-4 col-lg-4 col-xl-2">
    <form [formGroup]="categoryForm!" class="mt-4 w-100">
      <select formControlName="categoryCharacters" id="categoryCharacters" class="form-select">
        <option value="all">All</option>
        <option value="Breaking+Bad">Breaking Bad</option>
        <option value="Better+Call+Saul">Better Call Saul</option>
      </select>
      <label for="categoryCharacters">category of characters</label>
    </form>
  </div>

  <div class="col-md-6 col-lg-4">
    <form [formGroup]="searchForm!" (ngSubmit)="onNameSearch()" class="mt-4 mb-2 w-100">
      <div class="input-group">
        <input formControlName="filter" type="text" id="nameFilter" name="nameFilter" class="form-control"
               placeholder="Search by Name">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
      </div>
    </form>
  </div>

  <div class="col-md-4 col-lg-3 col-xxl-2">
    <form [formGroup]="randomForm!" (ngSubmit)="onRandomCharacters()" class="mt-4 w-100">
      <div class="input-group">
        <span class="input-group-text">Random</span>
        <input formControlName="randomCount" type="number" id="randomCharacters" name="randomCharacters"
               class="form-control" min="1" max="36" value="1">
        <button type="submit" class="btn btn-outline-secondary rounded"
                [disabled]="randomForm?.get('randomCount')?.invalid">GET
        </button>
      </div>
      <label for="randomCharacters">from 1 to 36 characters</label>
    </form>
  </div>

  <div class="col-md-5 col-lg-4 col-xl-3">
    <form [formGroup]="idSearchForm!" (ngSubmit)="onIdSearch()" class="my-4  w-100">
      <div class="input-group">
        <span class="input-group-text">Character ID</span>
        <input formControlName="characterId" type="number" id="idSearch" name="idSearch" class="form-control"
               placeholder="character id" min="1" max="116" value="1">
        <button type="submit" class="btn btn-outline-secondary rounded"
                [disabled]="idSearchForm?.get('characterId')?.invalid">GET
        </button>
      </div>
      <label for="idSearch">from 1 to 57 and 112 to 116</label>
    </form>
  </div>

</div>

<div class="row">
  <div class="col-12">
    <ul class="pagination justify-content-center">
      <li class="page-item mx-2"
          [ngClass]="charactersLoaded ? prevPageDisabled ? 'disabled' : '' : 'disabled'">
        <button type="button" class="page-link" (click)="onPageChange('prev')">Prev</button>
      </li>
      <li class="page-item mx-2"
          [ngClass]="charactersLoaded ? nextPageDisabled ? 'disabled' : '' : 'disabled'">
        <button type="button" class="page-link" (click)="onPageChange('next')">Next</button>
      </li>
    </ul>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-4 py-4"
     *ngIf="charactersLoaded; else characterLoading;">
  <div class="col mx-auto" *ngFor="let characters of charactersArr">
    <div class="card mx-auto" style="width: 18rem;">
      <img [src]="characters?.img" class="card-img-top" alt="{{characters.nickname}}">
      <div class="card-img-overlay">
        <h5 class="card-title text-white">id: {{characters ? characters?.char_id : ''}}</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{characters?.name}}</h5>
        <p class="d-inline-block rounded px-2 py-1 bg-dark text-light">{{characters?.nickname}}</p>
        <p class="card-text">{{characters?.occupation?.join(', ')}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Status:
          <span
            [class.text-success]="characters?.status === 'Alive'"
            [class.text-warning]="characters?.status === 'Presumed dead'"
            [class.text-danger]="characters?.status === 'Deceased'">
            {{characters?.status}}
          </span>
        </li>
        <li class="list-group-item">Season,s: {{characters?.appearance?.join(', ')}}</li>
        <li class="list-group-item">
          Birthday: {{characters?.birthday !== 'Unknown' ? (characters?.birthday | date) : characters?.birthday }}</li>
        <li class="list-group-item">Category: {{characters?.category}}</li>
        <li class="list-group-item">Actor: {{characters?.portrayed}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="row my-4" *ngIf="charactersArr?.length! < 1">
  <div class="col-12">
    <h2  class="text-center">No Characters Found!</h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="pagination justify-content-center">
      <li class="page-item mx-2"
          [ngClass]="charactersLoaded ? prevPageDisabled ? 'disabled' : '' : 'disabled'">
        <button type="button" class="page-link" (click)="onPageChange('prev')">Prev</button>
      </li>
      <li class="page-item mx-2"
          [ngClass]="charactersLoaded ? nextPageDisabled ? 'disabled' : '' : 'disabled'">
        <button type="button" class="page-link" (click)="onPageChange('next')">Next</button>
      </li>
    </ul>
  </div>
</div>

<ng-template #characterLoading>
  <div class="d-flex justify-content-center align-items-center w-100 vh-100">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>

<app-to-top-btn></app-to-top-btn>
